includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    excludePaths:
        - tests/**
    noUnnecessaryCollectionCall: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app

    # The level 9 is the highest level
    level: 9

    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
